#time{
    color: black;
    text-align: center;
    font-size: 40pt;
    background-color: #FFFFFF;
    font-family: Nunito, sans-serif;
}
#da, #dt{
    color: black;
    text-align: center;
    font-size: 12pt;
    background-color: #FFFFFF;
    font-family: Nunito, sans-serif;
}
